# Dependencies
node_modules
**/node_modules
FrontEnd/D_C/node_modules

# Build Outputs
dist
**/dist
target/
**/target/
*.jar
*.war

# Environment & Local Secrets
.env
.env.local
.env.*.local

# Operating System & IDE Files
.DS_Store
Thumbs.db
.idea/
*.iml
.vscode/

# Uploads & Temp Files
uploads/
**/uploads/
uploads_pdfs/
